.env
node_modules/
dist/
*.log
package-lock.json

# React Native specific ignores
**/node_modules/
**/android/build/
**/android/.gradle/
**/ios/build/
**/.bundle/
**/.idea/
**/android/app/build/
**/android/app/.cxx/
