.env
node_modules/
dist/
*.log
package-lock.json

react-native/mobile/node_modules/
react-native/mobile/android/build/
react-native/mobile/android/.gradle/
react-native/mobile/ios/build/
react-native/mobile/.bundle/
react-native/mobile/.idea/
