# Environment variables
.env

# Solo ignoramos node_modules para evitar archivos innecesarios
node_modules/
**/node_modules/

# Archivos de build temporales que se regeneran
**/android/build/
**/android/.gradle/
**/ios/build/
**/.bundle/
**/android/app/build/
**/android/app/.cxx/
# Logs
*.log
